.content {
    background-color: lightgray; 
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    margin: top 0px;
    padding: 0 auto;
  }
  
  .button 

  {   padding-right: 50px;
      border: 10px solid gray;
      background-color: gray;
      
  }
  .newForm {
    margin-left: 550px;
    width: 50%;
    height: 30px;
    padding: 20px; 
    border: 1px solid #ccc;
    margin: 0 auto;
    justify-content: center; 
  }
  .h2
  {
    font-size: 30px;
    
  }  

  